<%= simple_form_for(@quote, html: {class: 'form-horizontal' }) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input  :author, required: true %>
  <%= f.input  :quote, as: :text, required: true%>
  <%= f.input  :mood, as: :select, collection: mood_select_options %>
  <%= f.input  :quote_source, as: :text %>

  <div class="actions">
  <center>
    <%= html_submit %>
  </center>    
  </div>
<% end %>
