<p>
  <div class="row">
    <div class="col-md-4"><span class="pull-left"><%= smart_listing.pagination_per_page_links %></span></div>
    <div class="col-md-3">
        <%= link_to fa_icon('plus', text: 'New '), new_quote_path, :class => 'btn btn-primary'  %>
    </div>
    <div class="col-md-5">
      <%= smart_listing_controls_for(:quotes_smart_listing, {class: "form-inline text-right"}) do %>

      <span>
      Mood:
      <label><%= check_box_tag 'q[mood_in][]', 1, [ params[:q][:mood_in]].flatten.include?('1')%><%= content_tag "b", fa_icon("smile-o",  class: "text-info") %> Happy</label> |
      <label><%= check_box_tag 'q[mood_in][]', 2, [params[:q][:mood_in]].flatten.include?('2')%><%= content_tag "b",  fa_icon("meh-o",  class: "text-inverse") %> Meh</label> |
      <label><%= check_box_tag 'q[mood_in][]', 3, [params[:q][:mood_in]].flatten.include?('3')  %><%= content_tag "b",  fa_icon("frown-o", class: "text-danger") %>Unhappy</label>
      </span>
      <%= text_field_tag "q[quote_cont_or_author_cont_or_quote_source_cont]", params[:q]["quote_cont_or_author_cont_or_quote_source_cont"], class: "search form-control",  placeholder: "Search ..." %>
      <button type="submit"  class="btn btn-primary" data-disable-with="Please wait ..."><span class="fa fa-search"></span> Search</button>
      <a href="<%=  quotes_path %>" class="btn btn-info"  data-disable-with="Please wait ..."><span class="fa fa-refresh"></span> Reset</a>
      <% end %>
    </div>
  </div>
</p>


  <table class="table table-striped table-hover">
    <thead>
      <tr >
        <th><%= smart_listing.sortable "ID", :id %> </th>
        <th><%= smart_listing.sortable "Author", :author %> </th>
        <th><%= smart_listing.sortable "Quote", :quote %> </th>
        <th><%= smart_listing.sortable "Mood",  :mood %> </th>
        <th><%= smart_listing.sortable "QuoteSource",  :quote_source %> </th>
        <th><%= smart_listing.sortable "On twitter?",  :posted_to_twitter %> </th>
        <th><%= smart_listing.sortable "Updated at",  :updated_at %> </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% if smart_listing.empty? %>
      <tr>
        <td colspan="1000">
          <p>
            <center>
              <h4>No items</h4>
            </center>
          </p>
        </td>
      </tr>
      <% else %>
        <% smart_listing.collection.each do |object| %>
          <tr >
            <%= smart_listing.render partial: 'quotes/quote', locals: {object: object} %>            
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<div class="row">
  <div class="col-md-12"><%= smart_listing.paginate %></div>
</div>
