<td><%= object.id %></td>
<td><%= object.author %></td>
<td><%= object.quote %></td>
<td><%= mood_display object.mood %></td>
<td><%= object.quote_source %></td>
<td><%= yesno object.posted_to_twitter %> </td>
<td><%= datetime_format object.updated_at %> </td>
<td class='actions'>
  <%= view_link('View', quote_path(object), 'btn-xs' )%>
  <%= edit_link('Edit', edit_quote_path(object), 'btn-xs') %>
  <%= trash_link('Delete', quote_path(object), 'btn-xs') %>
  <%= link_to fa_icon(:twitter, text: "Post to Twitter"), post_to_twitter_quote_path(object), class: 'btn btn-info btn-xs', method: :post, confirm: "Are you sure?" unless  object.posted_to_twitter%>

</td>