
<div class="row" id="system-admin-accounts-container">
  <div class="col-md-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6"> <h2>Quotes</h4></div>
          <div class="col-md-6"> 
            <span class="pull-right">
             <b>Mood counts:</b>
              <% Quote.mood_counts.each do |k,v|%>
                <%= mood_count_display(k,v) %>
              <% end %>
            </span>
          </div>
        </div>
        
      </div>
      <div class="panel-body">
        <%= smart_listing_render(:quotes_smart_listing) %>
      </div>
    </div>
  </div>
</div>


