

<div class="row" >
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class=" panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h4 class="panel-title">New quote</h4>
        </div>
            
        <div class="col-md-6"> 
          <span class="pull-right">
             <%= back_link('Back', quotes_path, 'btn-xs')%>
           </span>
        </div>
        </div>
      </div>
      <div class="panel-body">
           <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
