

<div class="row" >
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class=" panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h4 class="panel-title">Show quote</h4>
        </div>
            
        <div class="col-md-6"> 
          <span class="pull-right">
            <%= edit_link('Edit', edit_quote_path(@quote), 'btn-xs' )%>
             <%= link_to fa_icon(:twitter, text: "Post to Twitter"), post_to_twitter_quote_path(@quote), class: 'btn btn-info btn-xs', method: :post, confirm: "Are you sure?" unless  @quote.posted_to_twitter%>

             <%= back_link('Back', quotes_path, 'btn-xs')%>
           </span>
        </div>
        </div>
      </div>
      <div class="panel-body">       
  
          <p>
            <strong>Author:</strong>
            <%= @quote.author %>
          </p>
          <p>
            <strong>Quote:</strong>
            <%= @quote.quote %>
          </p>

          <p>
            <strong>Mood:</strong>
            <%= mood_display @quote.mood %>
          </p>
          <p>
            <strong>Posted to twitter:</strong>
            <%= yesno @quote.posted_to_twitter %>
          </p>
    

          <p>
            <strong>Quote source:</strong>
            <%= @quote.quote_source %>
          </p>

          <p>
            <strong>Processed quote:</strong>
            <%= @quote.processed_quote %>
          </p>

         <p>
            <strong>Created at:</strong>
            <%=datetime_format @quote.created_at %>
          </p>



         <p>
            <strong>Updated at:</strong>
            <%= datetime_format @quote.updated_at %>
          </p>
      </div>
    </div>
  </div>
</div>
